.slide-enter-active[data-v-5ace07c3],.slide-leave-active[data-v-5ace07c3]{transition:transform .3s ease}.slide-enter-from[data-v-5ace07c3],.slide-leave-to[data-v-5ace07c3]{transform:translate(-100%)}
